:root {
  --bgcolor:hsl(0, 0%, 98%);
  --elementcolor: hsl(0, 0%, 100%);
  --textcolor:hsl(200, 15%, 8%);
  --shadowcolor:#dfdede;
  --font-weight-light: 300;
  --font-weight-medium: 600;
  --font-weight-hard: 800;
  --font-size-home: 14px;
  --font-size-detail: 16px;
}



* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.darkmode{
  --bgcolor:hsl(207, 26%, 17%);
  --elementcolor: hsl(209, 23%, 22%);
  --textcolor:hsl(0, 0%, 100%);
  --shadowcolor:#0e0e0e;
  
}

.heading{
  padding-left: 50px;
  color: var(--textcolor);
  font-size: 30px;
  
}
header{
  display: flex;
  position: sticky;
  margin-top: 0px;
  height: 80px;
  background-color: var(--elementcolor);
  padding: 10px;
  margin-left: -30px;
  margin-right: -10px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 10px -5px var(--shadowcolor);
}
.theme{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#dark-mode-text{
  font-weight: 600;
  padding-right: 40px;
  color: var(--textcolor);
}
#dark-mode-toggle{
  padding-right: 10px;
  width: 30px;
 
}
.fa-solid{
  color: var(--textcolor);
}


button {
  border: none;
  color: var(--textcolor);
  background-color: var(--elementcolor);
  cursor: pointer;
}
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bgcolor);
}
img {
  width: 100%;
  object-fit: fill;
  display: block;
}
/* ########### detail page ########## */
.return-btn,
.country-btn {
  background-color: var(--elementcolor);
  width: 7rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: inherit;
  font-size: var(--font-size-detail);
  font-weight: var(--font-weight-light);
  border-radius: 3px;
  text-transform: capitalize;
  margin-top: 2rem;
  margin-bottom: 4rem;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  /* filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.2)); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.country-btn {
  height: 2rem;
  width: 6rem;
  margin: 0;
  font-size: var(--font-size-home);
  font-weight: var(--font-weight-light);
  font-family: inherit;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.detail-img-parent {
  /* width: min(90vw, 25rem); */
  width: 90vw;
  margin-bottom: 3rem;
}
.details-page {
  padding: 0 5vw;
  padding-bottom: 5rem;
  color: var(--textcolor);
}
.detail-name,
.detail-capital,
.languages {
  margin-bottom: 3rem;

}
.native-name,
.detail-pop,
.detail-region,
.sub-region,
.tld,
.currencies,
.bordertxt {
  margin-bottom: 1rem;
}
.bordertxt {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
}
.country-btn-parent {
  width: 90vw;
  gap: 1rem;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-between; */
}
.innertxt {
  font-family: inherit;
  font-size: var(--font-size-detail);
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  h1{
    padding-left: 40px;
    font-size: 15px;
  }
  header{
      margin-top: -8px;
      height: 70px;
      margin-left: -25px;
      margin-right: -8px;
      overflow: hidden;
  }
  .theme{
      cursor: pointer;
      margin-right: -20px;
      
  }

  .theme p{
      font-weight: 600;
      padding-right: 40px;
      font-size: 11px;
  }
  .headerImg{
      padding-right: 10px;
      width: 22px;
}
  .detail {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding-bottom: 5rem;
  }
  .detail-img-parent > img {
    height: 100%;
  }
  .detail-img-parent {
    align-self: center;
    width: 36rem;
    height: 25rem;
    margin: 0;
  }
  .details-page {
    padding: 0 5vw;
  }
  .inner-detail {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .border-country {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .bordertxt {
    margin: 0;
    margin-right: 1em;
  }
  .country-btn {
    height: 2rem;
    width: 6rem;
  }
  .native-name,
  .detail-pop,
  .detail-region,
  .sub-region,
  .tld,
  .currencies {
    margin-bottom: 0.5rem;
  }
  .detail-name,
  .detail-capital {
    margin-bottom: 2rem;
  }
  .country-btn-parent {
    width: fit-content;
  }
  .detail-content {
    width: 36rem;
  }
}
@media screen and (min-width: 1025px) {
  /* ########### detail page ########## */
  .detail {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }
  .detail-img-parent > img {
    height: 100%;
  }
  .detail-img-parent {
    align-self: center;
    width: clamp(25rem, 33.33vw, 30rem);
    /* width: 40vw; */
    height: 20rem;
    margin: 0;
  }
  .details-page {
    padding: 0 5vw;
  }
  .inner-detail {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .border-country {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .bordertxt {
    margin: 0;
    margin-right: 1em;
  }
  .country-btn {
    height: 2rem;
    width: 6rem;
  }
  .native-name,
  .detail-pop,
  .detail-region,
  .sub-region,
  .tld,
  .currencies {
    margin-bottom: 0.5rem;
  }
  .detail-name,
  .detail-capital {
    margin-bottom: 2rem;
  }
  .country-btn-parent {
    width: fit-content;
  }
  .detail-content {
    width: clamp(30rem, 40vw, 36rem);
  }
}
@media screen  and (max-width:375px){
  .heading{
    padding-left: 10px;
    font-size: 20px;

}
  header{
      margin-top: 0px;
      height: 80px;
      margin-left: 0px;
      margin-right: -8px;
      overflow: hidden;
  }
  .theme{
      cursor: pointer;
      margin-right: -20px;
      
  }

  #dark-mode-text{
      font-weight: 600;
      padding-right: 40px;
      font-size: 12px;
  }
  #dark-mode-toggle{
      padding-right: 10px;
      width: 22px;
  }
}